{{!--             
               <div class="burger-btns">
                    <button id = {{this.id}} class="btn btn-primary burger-btn" data-eaten="{{eaten}}">{{this.id}}. {{this.burger_name}}</button><br>
               </div> --}}
                <li class="list-group-item"><button id = {{this.id}} class="btn btn-primary burger-btn" data-eaten="{{eaten}}">{{this.id}}. {{this.burger_name}}</button></li>